### Importing the Libraries

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing The Dataset

In [11]:
dataset = pd.read_csv('Restaurant_Reviews.tsv',delimiter = '\t', quoting = 3 )

In [12]:
dataset.head(10)

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1
5     Now I am getting angry and I want my damn pho.      0
6              Honeslty it didn't taste THAT fresh.)      0
7  The potatoes were like rubber and you could te...      0
8                          The fries were great too.      1
9                                     A great touch.      1

In [23]:
dataset['Review'][0] ## find the first Review

'Wow... Loved this place.'

### Cleaning the texts

In [24]:
import re

In [31]:
 review = re.sub('[^a-zA-Z]', ' ',dataset['Review'][0] )

In [32]:
review

'Wow    Loved this place '